:root {
  --bg: #9dc783;
  --container: #fff;
  --red: #d01010;
  --dark_green: #0aae42;
  --light_green: #1bff69;

  --spacing: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
}
.layout_main_spacing {
  padding: 16px;
  margin-bottom: 32px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--container);
}

.top_container {
  min-height: 600px;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing);
  padding: var(--spacing);
}

.red_box {
  background: var(--red);
  width: 100%;
  height: 100%;
  min-height: 274px;
}

.bottom_container {
  margin-top: 24px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  gap: var(--spacing);
}

.dark_green_box {
  background: var(--dark_green);
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.green_grid {
  height: 68px;
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(4, 1fr);
}
.light_green_box {
  background: var(--light_green);
  width: 100%;
  height: 100%;
}

/* big display */
@media screen and (width > 1200px) {
  .layout_main_spacing {
    padding: 0 32px;
  }
}
/* Tablet */
@media screen and (width < 1200px) and (width > 450px) {
  .layout_main_spacing {
    padding: 0 64px;
  }
  .top_container {
    margin-top: 20px;
  }

  .green_grid {
    height: 97px;
    grid-template-columns: repeat(2, 1fr);
  }
  .bottom_container {
    height: 470px;
  }
}
/* Phone  */
@media screen and (width < 600px) {
  :root {
    --spacing: 12px;
  }

  .layout_main_spacing {
    padding: 0 16px;
  }
  .top_container {
    margin-top: 16px;
  }
  .green_grid {
    height: 204px;
    grid-template-columns: 1fr;
  }
  .top_container {
    grid-template-columns: 1fr;
  }

  .bottom_container {
    height: 564px;
  }
}
